/* Header.css */

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* MainContent.css */

.main {
  padding: 20px 0;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  height: 25px;
  border: 1px solid lightgrey;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.restaurant-card {
  padding: 20px;
  align-items: center;
}

.restaurant-card img {
  width: 250px;
  height: 150px;
}

.restaurant-card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.restaurant-card p {
  margin-bottom: 5px;
}

/* App.css */

.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Shimmer */
.shimmer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shimmer-cards {
  margin: 20px;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: #e5e4e2;
}

/* Filter Restaurant */
.filter {
  display: flex;
  gap: 10px;
}
